{%extends 'base.html'%}
{%block body%}
<div class="search_bar clearfix">
		<a href="/" class="logo fl"><img src="/static/images/logo.png"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
		<form method='get' action="/search/" target="_blank">
			<div class="search_con fl">
			<input type="text" class="input_text fl"   placeholder="搜索商品" name="q">
			<input type="submit" class="input_btn fr" value="搜索">
			</div>
		</form>
	</div>

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="/user/info/" >· 个人信息</a></li>
				<li><a href="/user/order/" class="active">· 全部订单</a></li>
				<li><a href="/user/site/" >· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">全部订单</h3>

				{%for i in orderInfo%}
				<ul class="order_list_th w978 clearfix" id="{{i.oid}}">
					<li class="col01">{{i.odate}}</li>
					<li class="col02">订单号：{{i.oid}}</li>
					{%if i.oIsPay%}
					<li class="col02 stress">已支付</li>
					{%else%}
					<li class="col02 stress">未支付</li>
					{%endif%}

				</ul>

				<table class="order_list_table w980">
					<tbody>
						<tr>

							<td width="55%" id="td_{{i.oid}}">
								{%for detail in detail_list%}
								<ul class="order_goods_list clearfix" id="{{i.oid}}_{{detail.id}}">
									<li class="col01"><img src="/static/{{detail.goods.gpic}}/"></li>
									<li class="col02">{{detail.goods.gtitle}}<em id="price_{{i.oid}}_{{detail.id}}">{{detail.price}}</em><em>元/{{detail.goods.gunit}}</em></li>
									<li class="col03" id="count_{{i.oid}}_{{detail.id}}">{{detail.count}}</li>
									<li class="col04" id="total_{{i.oid}}_{{detail.id}}">11.80元</li>
								</ul>

								{%endfor detail_list%}
							</td>
							<td width="15%">{{i.ototal}}元</td>
							{%if i.oIsPay%}
							<td width="15%">已付款</td>
							<td width="15%"><a href="#" class="oper_btn">查看物流</a></td>
							{%else%}
							<td width="15%">待付款</td>
							<td width="15%"><a href="#" class="oper_btn">去付款</a></td>
							{%endif%}


						</tr>
					</tbody>
				</table>

				{%endfor orderInfo%}



				<div class="pagenation">
					<a href="#"><上一页</a>
					<a href="#" class="active">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">5</a>
					<a href="#">下一页></a>
				</div>
		</div>
		</div>
<script>
	subtotal();
	function subtotal() {

		{%for i in orderInfo%}

		{%for detail in detail_list%}
		var price = parseFloat($('#price_{{i.oid}}_{{detail.id}}').text());
		var count = parseFloat($('#count_{{i.oid}}_{{detail.id}}').text());
		var total = price*count;

		$('#total_{{i.oid}}_{{detail.id}}').text(total.toFixed(2));
		{%endfor detail_list%}

		{%endfor orderInfo%}
    }

</script>
{%endblock body%}