<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>天天生鲜{%block title%}{%endblock title%}</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	{%block head%}
	<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
	{%endblock head%}

	<script type="text/javascript">
		$(function () {
		    $.get('/user/session_handle/',function (data) {
		        console.log(data)
				var user_name=$('#login_info');
				var tourists=$('#login_btn');
				var userName = $('#userName')
				if (data.state==1){

					login_out = $('#login_out').css('color', '#666' );
					userName.html(data.user_name)
					user_name.show();
					tourists.hide();
				}else if (data.state==0){
					user_name.hide();
					tourists.show();
				}








            } );


        });


	</script>
	{%block javascript%}
	{%endblock javascript%}
</head>
<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到天天生鲜!</div>
			<div class="fr">
				<div class="login_info fl" id="login_info">
					欢迎您：<em id="userName">张 山</em>
					<span>|</span>
					<a href="/user/login_out/" id="login_out">退出</a>
				</div>



				<div class="login_btn fl" id="login_btn">
					<a href="/user/login/">登录</a>
					<span>|</span>
					<a href="/user/register/">注册</a>
				</div>
				<div class="user_link fl">
					<span>|</span>
					<a href="/user/info/">用户中心</a>
					<span>|</span>
					<a href="/cart/">我的购物车</a>
					<span>|</span>
					<a href="/user/order/">我的订单</a>
				</div>
			</div>
		</div>
	</div>




			{%block body%}{%endblock body%}




	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>
		</div>
		<p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>

</body>
</html>